.pkm-types {
    font-size: 18px;
    font-weight: 700;
    color: #232323;
    padding: 4px 1px;
    width: 6rem;
    background: #ffffff60;
    border: 2px solid #cdf7f8;
    border-radius: 1rem;
}

.pkm-abilities {
    font-size: 1.25rem;
    font-weight: 500;
}